{
  "extends": ["airbnb", "plugin:jest/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": "off",
    "max-len": ["error", { "code": 120 }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["path"] }
    ],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ]
  }
}
